<%- include('./partials/head') %>

<!-- Header -->
<%- include('./modules/Header') %>

<main>
	<!-- Game score -->
	<%- include('./modules/GameScore') %>

	<!-- Navigation -->
	<%- include('./modules/Navigation') %>

	<!-- Team One -->
	<%- include('./modules/Players/TeamOne') %>

	<!-- Team Two -->
	<%- include('./modules/Players/TeamTwo') %>

	<!-- Scoreboard -->
	<%- include('./modules/Scoreboard') %>
</main>

<%- include('./partials/footer') %>