<%- include('./partials/head') %>

<main>
	<div class="container-header-game-score-navigation">
		<!-- Game score -->
		<%- include('./modules/GameScore') %>
		<div class="container-header-navigation">
			<!-- Header -->
			<%- include('./modules/Header') %>

			<!-- Navigation -->
			<%- include('./modules/Navigation') %>
		</div>
	</div>
	
	<!-- Team One -->
	<%- include('./modules/Players/TeamOne', {gameData, playerData}) %>

	<!-- Team Two -->
	<%- include('./modules/Players/TeamTwo', {gameData, playerData}) %>

	<!-- Scoreboard -->
	<%- include('./modules/Scoreboard', {gameStats, playerData}) %>

	<!-- Stats -->
	<section class="stats-block nav-blocks"></section>
	
</main>
<%- include('./partials/footer') %>