<!-- Team 2 -->
<section class="team-players team-two-players nav-blocks">
    <!-- Team name & legend -->
    <div class="players-heading">
        <h2 class="team-name"><%- gameData.games[0].team2.name %></h2>
        <div class="legend">
            <p>G</p>
            <p>A</p>
            <p>B</p>
            <p>T</p>
        </div>
    </div>

    <!-- Get all players from team 2 -->
	<% const team2Players = playerData.players.filter(player => player.team.name === gameData.games[0].team2.name) %>

    <% team2Players.forEach(player => { %>
    <!-- Player row -->
    <div class="player-card">
        <div class="card-left">
            <p class="player-number"><%- player.jerseyNumber %></p>
            <p class="player-name"><%- player.name %></p>
        </div>
        <div class="card-right">
            <div class="actions">
                <%- include('./Actions', { player:player, gameStats }) %>
            </div>
        </div>
    </div>

    <!-- Player facts -->
    <%- include('./FactsModal', { player }) %>
    <% }) %>
</section>